.question-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-item {
  border: solid 2px #e4e7eb;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  list-style-type: none;
}
.hidden {
  display: none;
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
